/* Reset default margin and padding to ensure consistency across browsers */
body,
html {
    margin: 0;
    padding: 0;
}

/* Set a base font size and font family for the entire website */
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #262626;
}

/* Create a container to center the content on the page */
.container {
    max-width: 1200px;
    /* Adjust this value to your desired maximum width */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    /* Add some padding to the container */
    box-sizing: border-box;
    /* Ensure padding and border are included in the total width */
}

/* Navbar-desktop */
.app-header {
    background-color: #333;
    color: #fff;
    border-bottom: #bdbdbd solid 1px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 1.5rem;

}

.mobile-menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

/* Mobile menu options */
.mobile-menu-options {
    display: none;
    background-color: #444;
    padding: 10px;
    margin-top: 10px;
}

/* ... (previous CSS code) ... */

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        /* Reduce the container's width for smaller screens */
        padding: 10px;
        /* Adjust the padding for smaller screens */
    }

    .mobile-menu {
        display: block;
    }

    /* Hide desktop menu when mobile menu is active */
    .nav-links.active,
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 56px;
        /* Adjust this value to position the menu below the header */
        right: 0px;
        background-color: #444;
        padding: 10px;
        font-size: 1.5rem;

        /* Add CSS transition properties for the animation */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }

    /* Apply styles when mobile menu options are active */
    .nav-links.active.show {
        /* Change the opacity and visibility when active */
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    .mobile-menu-options {
        display: none;
    }

    .mobile-menu-options.active {
        display: block;
    }
}